body{
    background-color: #F6F2EB;
  }
  
  .color_nav{
      background-color: #E9D5B3; /* Cambia el color de fondo según tus preferencias */
  
  }
  
  /* Estilos para el header */
  header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #E9D5B3; /* Cambia el color de fondo según tus preferencias */
      padding: 10px 20px;
  }
  
  /* Estilos para el logo */
  .logo img {
      max-height: 80px; /* Ajusta el tamaño de tu logo según tus necesidades */
  }
  
  /* Estilos para la navegación */
  nav ul {
      list-style: none;
      display: flex;
      margin: 0;
      padding: 0;
  }
  
  nav ul li {
      margin-right: 20px; /* Espaciado entre elementos del menú */
  }
  
  nav ul li:last-child {
      margin-right: 0; /* Elimina el espaciado del último elemento */
  }
  
  nav ul li a {
      text-decoration: none;
      color: #000; /* Cambia el color de texto según tus preferencias */
      font-weight: bold;
  }


  .nav1{
    width: 817px;
    height: 1250px;
    background: url("../images/v10_141.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 178px;
    left: 455px;
    overflow: hidden;
  }
  
  .nav10_123{
    width: 817px;
    height: 1250px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    overflow: hidden;
  }
  

  .title{
    width: 362px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 50px;
    left: 223px;
    font-family: Inter;
    font-weight: Bold;
    font-size: 40px;
    opacity: 1;
    text-align: left;
}


.div_nombre{
    width: 500px;
    height: 94px;
    background: url("../images/v10_128.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 7px;
    opacity: 1;
    position: absolute;
    top: 139px;
    left: 154px;
    overflow: hidden; 
  }
  .label_nombre{
    width: 147px;
    color: rgba(0,0,0,1);
    position: relative;
    top: 0px;
    left: 0px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .input_nombre{
    width: 485px;
    height: 65px;
    background: rgba(217,217,217,0);
    opacity: 1;
    position: absolute;
    top: 24px;
    left: 0px;
    border: 1px solid rgba(193,193,193,1);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    overflow: hidden;
  }


  .div_email{
    width: 500px;
    height: 94px;
    background: url("../images/v10_128.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 7px;
    opacity: 1;
    position: absolute;
    top: 256px;
    left: 154px;
    overflow: hidden; 
  }
  .label_email{
    width: 147px;
    color: rgba(0,0,0,1);
    position: relative;
    top: 0px;
    left: 0px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .input_email{
    width: 485px;
    height: 65px;
    background: rgba(217,217,217,0);
    opacity: 1;
    position: absolute;
    top: 24px;
    left: 0px;
    border: 1px solid rgba(193,193,193,1);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    overflow: hidden;
  }

  
  .div_telefono{
    width: 500px;
    height: 94px;
    background: url("../images/v10_128.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 7px;
    opacity: 1;
    position: absolute;
    top: 375px;
    left: 154px;
    overflow: hidden; 
  }
  .label_telefono{
    width: 147px;
    color: rgba(0,0,0,1);
    position: relative;
    top: 0px;
    left: 0px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .input_telefono{
    width: 485px;
    height: 65px;
    background: rgba(217,217,217,0);
    opacity: 1;
    position: absolute;
    top: 24px;
    left: 0px;
    border: 1px solid rgba(193,193,193,1);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    overflow: hidden;
  }

  .div_Conyuge{
    width: 500px;
    height: 94px;
    background: url("../images/v10_128.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 7px;
    opacity: 1;
    position: absolute;
    top: 492px;
    left: 154px;
    overflow: hidden; 
  }
  .label_Conyuge{
    width: 147px;
    color: rgba(0,0,0,1);
    position: relative;
    top: 0px;
    left: 0px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .input_Conyuge{
    width: 485px;
    height: 65px;
    background: rgba(217,217,217,0);
    opacity: 1;
    position: absolute;
    top: 24px;
    left: 0px;
    border: 1px solid rgba(193,193,193,1);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    overflow: hidden;
  }


  .div_jornada{
    width: 500px;
    height: 94px;
    background: url("../images/v10_128.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 7px;
    opacity: 1;
    position: absolute;
    top: 609px;
    left: 154px;
    overflow: hidden; 
  }
  .label_jornada{
    width: 147px;
    color: rgba(0,0,0,1);
    position: relative;
    top: 0px;
    left: 0px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .input_jornada{
    width: 485px;
    height: 65px;
    background: rgba(217,217,217,0);
    opacity: 1;
    position: absolute;
    top: 24px;
    left: 0px;
    border: 1px solid rgba(193,193,193,1);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    overflow: hidden;
  }


  .div_activo{
    width: 500px;
    height: 94px;
    background: url("../images/v10_128.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 7px;
    opacity: 1;
    position: absolute;
    top: 726px;
    left: 154px;
    overflow: hidden; 
  }
  .label_activo{
    width: 147px;
    color: rgba(0,0,0,1);
    position: relative;
    top: 0px;
    left: 0px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .input_activo{
    width: 485px;
    height: 65px;
    background: rgba(217,217,217,0);
    opacity: 1;
    position: absolute;
    top: 24px;
    left: 0px;
    border: 1px solid rgba(193,193,193,1);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    overflow: hidden;
  }


  .div_expediente{
    width: 373px;
    height: 94px;
    background: url("../images/v10_128.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 7px;
    opacity: 1;
    position: absolute;
    top: 843px;
    left: 154px;
    overflow: hidden; 
  }
  .label_expediente{
    width: 147px;
    color: rgba(0,0,0,1);
    position: relative;
    top: 0px;
    left: 0px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .input_expediente{
    width: 373px;
    height: 65px;
    background: rgba(217,217,217,0);
    opacity: 1;
    position: absolute;
    top: 24px;
    left: 0px;
    border: 1px solid rgba(193,193,193,1);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    overflow: hidden;
  }

  
  .expediente_btn {
    width: 117px;
    height: 42px;
    background: url("../images/v150_31.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    border-radius: 5px;
    border: 1px solid rgba(185,185,185,1);
    position: absolute;
    top: 882px;
    left: 537px;
    overflow: hidden;
  }
  .v150_29 {
    width: 117px;
    height: 42px;
    background: rgba(230,230,230,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 1px solid rgba(185,185,185,1);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    overflow: hidden;
  }
  .v150_30 {
    width: 79px;
    color: rgba(91,91,91,1);
    position: absolute;
    top: 13px;
    left: 19px;
    font-family: Inter;
    font-weight: Semi Bold;
    font-size: 12px;
    opacity: 1;
    text-align: center;
  }
 
  
  .div_foto{
    width: 373px;
    height: 94px;
    background: url("../images/v10_128.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 7px;
    opacity: 1;
    position: absolute;
    top: 962px;
    left: 154px;
    overflow: hidden; 
  }
  .label_foto{
    width: 147px;
    color: rgba(0,0,0,1);
    position: relative;
    top: 0px;
    left: 0px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .input_foto{
    width: 373px;
    height: 65px;
    background: rgba(217,217,217,0);
    opacity: 1;
    position: absolute;
    top: 24px;
    left: 0px;
    border: 1px solid rgba(193,193,193,1);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    overflow: hidden;
  }


  .foto_btn {
    width: 117px;
    height: 42px;
    background: url("../images/v150_32.png");
    background-repeat: no-repeat;
    background-position: center center;
    border: 1px solid rgba(185,185,185,1);
    border-radius: 5px;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 1000px;
    left: 537px;
    overflow: hidden;
  }
  .v150_33 {
    width: 117px;
    height: 42px;
    background: rgba(230,230,230,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 1px solid rgba(185,185,185,1);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    overflow: hidden;
  }
  .v150_34 {
    width: 60px;
    color: rgba(91,91,91,1);
    position: absolute;
    top: 13px;
    left: 29px;
    font-family: Inter;
    font-weight: Semi Bold;
    font-size: 12px;
    opacity: 1;
    text-align: center;
  }
  

  .v150_35 {
    width: 240px;
    height: 60px;
    background: url("../images/v150_35.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    border-radius: 10px;
    position: absolute;
    top: 1120px;
    left: 164px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .v150_36 {
    width: 78px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 19px;
    left: 81px;
    font-family: Inter;
    font-weight: Semi Bold;
    font-size: 18px;
    opacity: 1;
    text-align: center;
  }


  .v150_40 {
    width: 240px;
    height: 60px;
    background: rgba(254,200,135,1);
    opacity: 1;
    position: absolute;
    top: 1118px;
    left: 414px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .v150_41 {
    width: 71px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 19px;
    left: 84px;
    font-family: Inter;
    font-weight: Semi Bold;
    font-size: 18px;
    opacity: 1;
    text-align: center;
  }


  @media screen and (max-width: 768px) {

    body{
      background-color: #F6F2EB;
    }
    
    .color_nav{
        background-color: #E9D5B3; /* Cambia el color de fondo según tus preferencias */
    
    }
    
    /* Estilos para el header */
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #E9D5B3; /* Cambia el color de fondo según tus preferencias */
        padding: 10px 20px;
    }
    
    /* Estilos para el logo */
    .logo img {
        max-height: 40px; /* Ajusta el tamaño de tu logo según tus necesidades */
    }
    
    /* Estilos para la navegación */
    nav ul {
        list-style: none;
        display: flex;
        margin: 0;
        padding: 0;
    }
    
    nav ul li {
        margin-right: 20px; /* Espaciado entre elementos del menú */
    }
    
    nav ul li:last-child {
        margin-right: 0; /* Elimina el espaciado del último elemento */
    }
    
    nav ul li a {
        text-decoration: none;
        color: #000; /* Cambia el color de texto según tus preferencias */
        font-weight: bold;
    }
  
  
    .nav1{
      width: 380px;
      height: 1078px;
      background: url("../images/v10_141.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      opacity: 1;
      position: absolute;
      top: 100px;
      left: 30px;
      overflow: hidden;
    }
    
    .nav10_123{
      width: 380px;
      height: 1078px;
      background: rgba(255,255,255,1);
      opacity: 1;
      position: relative;
      top: 0px;
      left: 0px;
      border-top-left-radius: 30px;
      border-top-right-radius: 30px;
      border-bottom-left-radius: 30px;
      border-bottom-right-radius: 30px;
      overflow: hidden;
    }
    
  
    .title{
      width: 161px;
      color: rgba(0,0,0,1);
      position: absolute;
      top: 22px;
      left: 110px;
      font-family: Inter;
      font-weight: Bold;
      font-size: 18px;
      opacity: 1;
      text-align: left;
  }
  
  
  .div_nombre{
      width: 330px;
      height: 94px;
      background: url("../images/v10_128.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      margin: 7px;
      opacity: 1;
      position: absolute;
      top: 110px;
      left: 30px;
      overflow: hidden; 
    }
    .label_nombre{
      width: 147px;
      color: rgba(0,0,0,1);
      position: relative;
      top: 0px;
      left: 0px;
      font-family: Inter;
      font-weight: Regular;
      font-size: 12px;
      opacity: 1;
      text-align: left;
    }
    .input_nombre{
      width: 300px;
      height: 55px;
      background: rgba(217,217,217,0);
      opacity: 1;
      position: absolute;
      top: 24px;
      left: 0px;
      border: 1px solid rgba(193,193,193,1);
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      overflow: hidden;
    }
  
  
    .div_email{
      width: 330px;
      height: 94px;
      background: url("../images/v10_128.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      margin: 7px;
      opacity: 1;
      position: absolute;
      top: 221px;
      left: 30px;
      overflow: hidden; 
    }
    .label_email{
      width: 147px;
      color: rgba(0,0,0,1);
      position: relative;
      top: 0px;
      left: 0px;
      font-family: Inter;
      font-weight: Regular;
      font-size: 12px;
      opacity: 1;
      text-align: left;
    }
    .input_email{
      width: 300px;
      height: 55px;
      background: rgba(217,217,217,0);
      opacity: 1;
      position: absolute;
      top: 24px;
      left: 0px;
      border: 1px solid rgba(193,193,193,1);
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      overflow: hidden;
    }
  
    
    .div_telefono{
      width: 330px;
      height: 94px;
      background: url("../images/v10_128.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      margin: 7px;
      opacity: 1;
      position: absolute;
      top: 332px;
      left: 30px;
      overflow: hidden; 
    }
    .label_telefono{
      width: 147px;
      color: rgba(0,0,0,1);
      position: relative;
      top: 0px;
      left: 0px;
      font-family: Inter;
      font-weight: Regular;
      font-size: 12px;
      opacity: 1;
      text-align: left;
    }
    .input_telefono{
      width: 300px;
      height: 55px;
      background: rgba(217,217,217,0);
      opacity: 1;
      position: absolute;
      top: 24px;
      left: 0px;
      border: 1px solid rgba(193,193,193,1);
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      overflow: hidden;
    }
  
    .div_Conyuge{
      width: 330px;
      height: 94px;
      background: url("../images/v10_128.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      margin: 7px;
      opacity: 1;
      position: absolute;
      top: 443px;
      left: 30px;
      overflow: hidden; 
    }
    .label_Conyuge{
      width: 147px;
      color: rgba(0,0,0,1);
      position: relative;
      top: 0px;
      left: 0px;
      font-family: Inter;
      font-weight: Regular;
      font-size: 12px;
      opacity: 1;
      text-align: left;
    }
    .input_Conyuge{
      width: 300px;
      height: 55px;
      background: rgba(217,217,217,0);
      opacity: 1;
      position: absolute;
      top: 24px;
      left: 0px;
      border: 1px solid rgba(193,193,193,1);
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      overflow: hidden;
    }
  
  
    .div_jornada{
      width: 330px;
      height: 94px;
      background: url("../images/v10_128.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      margin: 7px;
      opacity: 1;
      position: absolute;
      top: 554px;
      left: 30px;
      overflow: hidden; 
    }
    .label_jornada{
      width: 147px;
      color: rgba(0,0,0,1);
      position: relative;
      top: 0px;
      left: 0px;
      font-family: Inter;
      font-weight: Regular;
      font-size: 14px;
      opacity: 1;
      text-align: left;
    }
    .input_jornada{
      width: 300px;
      height: 55px;
      background: rgba(217,217,217,0);
      opacity: 1;
      position: absolute;
      top: 24px;
      left: 0px;
      border: 1px solid rgba(193,193,193,1);
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      overflow: hidden;
    }
  
  
    .div_activo{
      width: 300px;
      height: 94px;
      background: url("../images/v10_128.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      margin: 7px;
      opacity: 1;
      position: absolute;
      top: 665px;
      left: 30px;
      overflow: hidden; 
    }
    .label_activo{
      width: 147px;
      color: rgba(0,0,0,1);
      position: relative;
      top: 0px;
      left: 0px;
      font-family: Inter;
      font-weight: Regular;
      font-size: 14px;
      opacity: 1;
      text-align: left;
    }
    .input_activo{
      width: 300px;
      height: 65px;
      background: rgba(217,217,217,0);
      opacity: 1;
      position: absolute;
      top: 24px;
      left: 0px;
      border: 1px solid rgba(193,193,193,1);
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      overflow: hidden;
    }
  
  
    .div_expediente{
      width: 227px;
      height: 64px;
      background: url("../images/v10_128.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      margin: 7px;
      opacity: 1;
      position: absolute;
      top: 784px;
      left: 30px;
      overflow: hidden; 
    }
    .label_expediente{
      width: 147px;
      color: rgba(0,0,0,1);
      position: relative;
      top: 0px;
      left: 0px;
      font-family: Inter;
      font-weight: Regular;
      font-size: 14px;
      opacity: 1;
      text-align: left;
    }
    .input_expediente{
      width: 227px;
      height: 40px;
      background: rgba(217,217,217,0);
      opacity: 1;
      position: absolute;
      top: 24px;
      left: 0px;
      border: 1px solid rgba(193,193,193,1);
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      overflow: hidden;
    }
  
    
    .expediente_btn {
      width: 98px;
      height: 42px;
      background: url("../images/v150_31.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      opacity: 1;
      border-radius: 5px;
      border: 1px solid rgba(185,185,185,1);
      position: absolute;
      top: 812px;
      left: 270px;
      overflow: hidden;
    }
    .v150_29 {
      width: 98px;
      height: 42px;
      background: rgba(230,230,230,1);
      opacity: 1;
      position: absolute;
      top: 0px;
      left: 0px;
      border: 1px solid rgba(185,185,185,1);
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
      overflow: hidden;
    }
    .v150_30 {
      width: 79px;
      color: rgba(91,91,91,1);
      position: absolute;
      top: 13px;
      left: 9px;
      font-family: Inter;
      font-weight: Semi Bold;
      font-size: 12px;
      opacity: 1;
      text-align: center;
    }
   
    
    .div_foto{
      width: 227px;
      height: 64px;
      background: url("../images/v10_128.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      margin: 7px;
      opacity: 1;
      position: absolute;
      top: 895px;
      left: 30px;
      overflow: hidden; 
    }
    .label_foto{
      width: 147px;
      color: rgba(0,0,0,1);
      position: relative;
      top: 0px;
      left: 0px;
      font-family: Inter;
      font-weight: Regular;
      font-size: 14px;
      opacity: 1;
      text-align: left;
    }
    .input_foto{
      width: 227px;
      height: 40px;
      background: rgba(217,217,217,0);
      opacity: 1;
      position: absolute;
      top: 24px;
      left: 0px;
      border: 1px solid rgba(193,193,193,1);
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      overflow: hidden;
    }
  
  
    .foto_btn {
      width: 98px;
      height: 42px;
      background: url("../images/v150_32.png");
      background-repeat: no-repeat;
      background-position: center center;
      border: 1px solid rgba(185,185,185,1);
      border-radius: 5px;
      background-size: cover;
      opacity: 1;
      position: absolute;
      top: 923px;
      left: 270px;
      overflow: hidden;
    }
    .v150_33 {
      width: 117px;
      height: 42px;
      background: rgba(230,230,230,1);
      opacity: 1;
      position: absolute;
      top: 0px;
      left: 0px;
      border: 1px solid rgba(185,185,185,1);
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
      overflow: hidden;
    }
    .v150_34 {
      width: 60px;
      color: rgba(91,91,91,1);
      position: absolute;
      top: 13px;
      left: 18px;
      font-family: Inter;
      font-weight: Semi Bold;
      font-size: 12px;
      opacity: 1;
      text-align: center;
    }
    
  
    .v150_35 {
      width: 160px;
      height: 45px;
      background: url("../images/v150_35.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      opacity: 1;
      border-radius: 10px;
      position: absolute;
      top: 1014px;
      left: 30px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      overflow: hidden;
    }
    .v150_36 {
      width: 78px;
      color: rgba(0,0,0,1);
      position: absolute;
      top: 15px;
      left: 40px;
      font-family: Inter;
      font-weight: Semi Bold;
      font-size: 12px;
      opacity: 1;
      text-align: center;
    }
  
  
    .v150_40 {
      width: 160px;
      height: 45px;
      background: rgba(254,200,135,1);
      opacity: 1;
      position: absolute;
      top: 1014px;
      left: 196px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      overflow: hidden;
    }
    .v150_41 {
      width: 71px;
      color: rgba(0,0,0,1);
      position: absolute;
      top: 15px;
      left: 46px;
      font-family: Inter;
      font-weight: Semi Bold;
      font-size: 12px;
      opacity: 1;
      text-align: center;
    }
   
  }
  