* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}

body {
  background-color: #F6F2EB;
}

.logo_img {
  background: url(<path-to-image>) #F6F2EB 50% / cover no-repeat;
  width: 80px;
  height: 80px;
  margin-left: 110px;
  margin-right: 80px;
}

.v38_2 {
  width: 100%;
  height: 1117px;
  background: rgba(246,242,235,1);
  opacity: 1;
  position: absolute;
  top: -100px;
  left: 0px;
  overflow: hidden;
}
.v42_4 {
  width: 80px;
  height: 80px;
  background: url("../images/v42_4.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 80px;
  left: 110px;
  overflow: hidden;
}
.v44_21 {
  width: 972px;
  height: 637px;
  background: url("../images/v44_21.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 240px;
  left: 378px;
  overflow: hidden;
}
.v42_5 {
  width: 972px;
  height: 637px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v42_12 {
  width: 485px;
  color: rgba(50,50,50,1);
  position: absolute;
  top: 118px;
  left: 244px;
  font-family: Inter;
  font-weight: Light;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v42_6 {
  width: 500px;
  height: 94px;
  background: url("../images/v42_6.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 7px;
  opacity: 1;
  position: absolute;
  top: 272px;
  left: 236px;
  overflow: hidden;
}
.v42_7 {
  width: 123px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v42_8 {
  width: 500px;
  height: 70px;
  background: rgba(217,217,217,0);
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 0px;
  border: 1px solid rgba(193,193,193,1);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v42_9 {
  width: 211px;
  color: rgba(137,137,137,1);
  position: absolute;
  top: 51px;
  left: 10px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v42_10 {
  width: 434px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 54px;
  left: 269px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v42_15 {
  width: 200px;
  height: 70px;
  background: rgba(254,200,135,1);
  top: 462px;
  left: 496px;  
  margin: 10px;
  padding: 16px 144px;
  position: absolute;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v42_16 {
  width: 196px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 24px;
  left: 20px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v42_17 {
  width: 240px;
  height: 70px;
  background: rgba(255,255,255,0);
  padding: 19px 135px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 462px;
  left: 236px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v42_18 {
  width: 80px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 24px;
  left: 80px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
